@font-face {
  font-family: 'Lato-light';
  src: url('../fonts/lato/Lato-Lig.ttf');
  font-weight: 'light';
}

@font-face {
  font-family: 'Lato-reg';
  src: url('../fonts/lato/Lato-Reg.ttf');
  font-weight: 'medium';
}
body {
  font-family: 'Lato-light';
  font-weight: 'light';
}

a {
  cursor: pointer;
}

input:focus {
  outline: none;
}
/*****************
/* Navbar       */
/****************/
.navbar {
  width: 100%;
  height: 40px;
  background: #2980b9;
  -webkit-transition: top .3s;
  transition: top .3s;
  position: fixed;
  top: 0px;
  z-index: 10;
}


.menu-wrapper {
  background-color: #2980b9;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.menu {
  font-size: 40px;
}

.seeker {
  width: 70%;
  position: absolute;
  top: 15px;
  left: 50px;
  background: white;
  height: 10px;
}

.position {
  background: black;
  height: 20px;
  width: 0;
}

/*Hide youtube player outside of screen */
object {
  position: fixed;
  top: 100%;
}

.hide {
  display: none;
}

.controls {
  position: absolute;
  left: 79%;
  top: 5px;
}

.controls a {
  cursor: pointer;
}

.log {
  font-family: 'Lato-reg';
  text-decoration: none;
  color: black;
  font-size: 18px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

/***********************
 * Login Modal
 * *********************/
.login-modal {
  height: 400px;
  width: 400px;
  position: absolute;
  top: -400px;
  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  transition: top .5s;
  z-index: 15;
}

.login-modal.show {
  top: 200px;
}

/***********************
 * Main Content
 * *********************/

.content {
  position: absolute;
  top: 40px;
  width: 100%;
}

.feeds {
  position: fixed;
  background-color: #e74c3c;
  min-height: 100%;
  top: 40px;
  left: -20%;
  width: 20%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.feeds.active{
  left: 0;
}

#feed-list {
  margin-top: -16px;
}

#feed-list li {
  cursor: pointer;
}

#feed-list li .view {
  height: 100%;
  padding: 20px;
}

#feed-list li:hover,
#feed-list li.active {
  background-color: #c0392b;
}

.feeds #edit-feed {
  position: fixed;
  width: 20%;
  bottom: 0;
  padding: 10px;
}

#edit-feed a{
  font-family: 'Lato-reg';
  font-weight: 'medium';
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#edit-feed a.right {
  float: right;
  margin-right: 20px;
}

#search-feeds {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-family: 'Lato-light';
  -webkit-transition: height .3s;
  transition: height .3s;
  margin-top: 0;
  border: none;
}

#search-feeds.hidden {
  height: 0px;
  margin-top: -10px;
}

.feeds.editing {
  top: 110px;
}

.feeds.editing #feed-list {
  margin-top: 0;
}

#feed-list.editing {
  margin-top: 0;
}

.feeds .bookmark {
  display: none;
  float: right;
  margin-top: -10px;
  background-image: url('../images/bookmark.png');
  height: 32px;
  width: 32px;
}


#feed-list.editing .bookmark {
  display: block;
}

.feeds .bookmark:hover,
.feeds .bookmark:active,
.feeds .bookmark.bookmarked {
  background-image: url('../images/bookmark-active.png');
}


.songs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #ecf0f1;
}

.songs.active {
  left: 20%;
  width: 80%;
}

#song-list li{
  cursor: pointer;
}

#song-list li .view {
  height: 100%;
  padding: 20px;
}

#song-list li:hover,
#song-list li.playing {
  background-color: #bdc3c7;
}

/***********************
 * Progress Button 
 * ********************/

.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: -25px;
  cursor: pointer;
}

.progress-button button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 125px;
    height: 35px;
    border: 2px solid #1ECD97;
    border-radius: 40px;
    background: transparent;
    color: #1ECD97;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Lato-light', sans-serif;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:hover {
    background-color: #1ECD97;
    color: #fff;
}

.progress-button button:focus {
    outline: none;
}

.progress-button svg {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.progress-button svg path {
    opacity: 0;
    fill: none;
}

.progress-button svg.progress-circle path {
    stroke: #1ECD97;
    stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.loading.progress-button button {
    width: 35px; /* make a circle */
    border-width: 5px;
    border-color: #ddd;
    background-color: transparent;
    color: #fff;
}

.loading.progress-button span {
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
}

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
    opacity: 0; /* keep it hidden in all states */
}

.progress-button button span {
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
}

.success.progress-button button,
.error.progress-button button {
    -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
    transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}

.success.progress-button button {
    border-color: #1ECD97;
    background-color: #1ECD97;
}
 
.error.progress-button button {
    border-color: #FB797E;
    background-color: #FB797E;
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
    opacity: 1;
    -webkit-transition: stroke-dashoffset 0.3s;
    transition: stroke-dashoffset 0.3s;
}

.elastic.progress-button button {
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1), border-width 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}
 
.loading.elastic.progress-button button {
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}
