<div class="sidebar active">
  <ul class="sidebar-list">
    <li class="active" data-target="dash">
      <span class="icon icon-home"></span>
      <span class="text">Dashboard</span>
    </li>
    <li data-target="users">
      <span class="icon icon-users"></span>
      <span class="text">Users</span>
    </li>
  </ul>
</div>
<div class="admin-content">
  <div id="dash" class="active">
    <h1>Dashboard</h1>
    <div class="dash-item" id="user-dash">
      <h3>1000<br>Users</h3>
    </div>
    <div class="dash-item" id="song-dash">
      <h3>50000<br>Songs</h3>
    </div>
  </div>
  <div id="users">
    <h1>Users</h1>
  </h1>
</div>
