<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RSS For Music Lovers</title>
    <link rel="stylesheet" href="static/stylesheets/reset.css"/>
    <link rel="stylesheet" href="static/stylesheets/pymusic.css"/>
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/jquery.scrollTo.min.js"></script>
    <script src="static/js/backbone-min.js"></script>
    <script src="static/js/admin.js"></script>
  </head>
  <body>

  </body>
</html>
